---
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---
<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>

<style>
	/** Add "EN" to the end of sidebar items with the `fallback` class. */
	:global(.fallback)::after {
		content: 'EN';
		vertical-align: super;
		font-size: 0.75em;
		font-weight: 700;
	}

	:global(.sidebar-pane) {
		overflow-y: scroll;
	}
</style>