---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

---

<a href="https://github.com/idursun/jjui/releases"><img src="https://img.shields.io/github/v/release/idursun/jjui?logo=github&color=white"/></a>

<a href="https://deepwiki.com/idursun/jjui"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<Default />
